{% extends 'app/layout/default.html' %}
{% block title %}Login{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app/form.css') }}">
{% endblock %}

{% block content %}
    <div class="formwrapper">
        <h2 class="title">Edit project</h2>
        <form method="POST" action="{{ url_for('edit_project', project_id=project.id) }}">
            <div class="form-field">{{ form.name.label }} {{ form.name }}
                {% if form.name.errors %}
                    <ul class="errors">
                        {% for error in form.name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-field">{{ form.comment.label }} {{ form.comment }}
                {% if form.comment.errors %}
                    <ul class="errors">
                        {% for error in form.comment.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {{ form.submit }}
        </form>
    </div>
{% endblock %}
