{% extends 'app/layout/default.html' %}
{% block title %}Projects{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app/default.css') }}">
{% endblock %}

{% block content %}
<div class="card">
    <div class="padding">
    <h2>Projects</h2>
    <table id="projects">
        <tr>
            <th>Project Name</th>
            <th>Created On</th>
            <th>Created By</th>
            <th></th>
        </tr>
        {% for p in projects %}
        <tr>
            <td><a href="{{ url_for('view_project', project_id=p.id) }}">{{ p.name }}</a></td>
            <td>{{ p.created_at.strftime('%Y-%m-%d') }}</td>
            <td>{{ p.created_by.first_name }}</td>
            <td>
                <form action="{{ url_for('delete_project', project_id=p.id) }}" method="post">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
</div>
{% endblock %}
