{% extends 'app/layout/default.html' %}
{% block title %}Projects{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app/project.css') }}">
{% endblock %}

{% block content %}

<div class="card">
    <div class="padding">
        <h2>Project Details</h2>
        <table>
            <tr>
              <th>Project Name</th>
              <th>Project Information</th>
              <th>Date Created</th>
              <th>Project Author</th>
              <th></th>
              <th></th>
           
            </tr>

            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.comment }}</td>
                <td>{{ project.created_at.strftime('%Y-%m-%d') }}</td>
                <td>{{ project.created_by.first_name }}</td>
                <td><button class="open-button" onclick="window.location.href='{{url_for('edit_project', project_id=project.id)}}'" type="submit">Edit Project</button></td>
                <td><button class="open-button" onclick="openForm()">Add Sprint</button></td>
                
            </tr>
        </table>   

        

<div class="form-popup" id="myForm">
    <form method="POST" action="{{ url_for('add_sprint') }}"class="form-container">
    <h1>Add Sprint</h1>

    <label for="name"><b>Sprint Name</b></label>
    <input type="text" placeholder="" name="name" required>


    <button type="submit" class="btn">Confirm</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>

    </div>
</div>


{% endblock %}
