{% extends 'app/layout/default.html' %}
{% block title %}Projects{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app/default.css') }}">
{% endblock %}

{% block content %}
<div class="inner-row">
    <div class="inner-column">
        <h2>Column 1</h2>
        <div class="card">
            <div class="padding">
                <table>
                    <tr>
                      <th>Sprint Name</th>
                      <th>Task</th>
                      <th>sprint data</th>
                      <th>sprint data </th>
                      <th>delete </th>
        
                    </tr>
                
                    <tr>
                        <td>insert sprint name</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button class="button button-delete">delete</button></td>
                   
                    </tr>
                </table> 
                
            </div>
        </div>
    </div>
    <div class="inner-column">
        <h2>Column 2</h2>

        <button type="button" class="collapsible">Backlog</button>
                <div class="content">
                    <p>backlog notes here</p>
                </div>

        <hr>

            <button type="button" class="collapsible">Todo</button>
                <div class="content">
                    <p>todo notes here</p>
                </div>
        <hr>

            <button type="button" class="collapsible">done</button>
                    <div class="content">
                        <p>completed tasks here</p>
                    </div>


    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
    </script>
</div>
</div>


{% endblock %}
<div class="card">
    <div class="padding">
        <table>
            <tr>
              <th>Sprint Name</th>
              <th>Task</th>
              <th>sprint data</th>
              <th>sprint data </th>
              <th>delete </th>

            </tr>
        
            <tr>
                <td>insert sprint name</td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="button button-delete">delete</button></td>
           
            </tr>
        </table> 
        
    </div>
</div>