<aside class="sidebar">
    <div id="sidebar" class="offcanvas-md offcanvas-start">
        <div class="offcanvas-header border-bottom bg-white">
            Alizarin
        </div>
        <div class="offcanvas-body">
            <nav id="sidebar-nav" class="w-100">
                 <h2 class="sidebar-title">
                    <i class="fa-solid fa-otter fa-2x icon"></i>
                    <span>Alizarin</span>
                </h2>
                <ul class="sidebar-items nav-links list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
                    <li class="sidebar-group">
                        <button class="btn d-inline-flex align-items-center rounded w-100" data-bs-toggle="collapse" data-bs-target="#projects-collapse" aria-expanded="true">
                            Projects
                        </button>
                        <div id="projects-collapse" class="collapse">
                            <ul class="list-unstyled fw-normal pb-1 small">
                                <li class="mb-1">
                                    <a class="d-inline-flex align-items-center rounded">Test 0</a>
                                </li>
                                <li class="mb-1">
                                    <a class="d-inline-flex align-items-center rounded">Test 1</a>
                                </li>
                                <li class="mb-1">
                                    <a class="d-inline-flex align-items-center rounded">Test 2</a>
                                </li>
                                <li class="mb-1">
                                    <a class="d-inline-flex align-items-center rounded">Test 3</a>
                                </li>
                                <li class="mb-1">
                                    <a class="d-inline-flex align-items-center rounded">Test 4</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</aside>