 
  .sprints {
    grid-area: sprint;
    background-color: white;
  }

  .sidebar {
    grid-area: sidebar;
    color: whitesmoke;
    background-color: black;
  }
  .footer {
    grid-area: footer;
    background-color: whitesmoke;
  }
  
  .container {
    display: grid;
    height: 80vh;
    width: 100vw;
    grid-template-columns: 30%;
    grid-template-rows: auto;
    grid-template-areas:
      "sidebar sprint sprint sprint sprint sprint"
      "sidebar sprint sprint sprint sprint sprint"
      "sidebar sprint sprint sprint sprint sprint"
      "sidebar sprint sprint sprint sprint sprint"
      "sidebar sprint sprint sprint sprint sprint"
      "sidebar sprint sprint sprint sprint sprint"
      "sidebar sprint sprint sprint sprint sprint"
      "sidebar sprint sprint sprint sprint sprint"
      "sidebar sprint sprint sprint sprint sprint"
      "footer footer footer footer footer footer";
  }