.sidebar {
    width: 256px;
}

.page-body-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
}

.page-body-wrapper.full-page-wrapper {
    width: 100%;
    min-height: 100vh;
}

.navy {
    background-color: #000032;
}

.main-panel {
    transition: width 0.25s ease, margin 0.25s ease;
    width: calc(100% - 256px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    padding-left: 2rem;
    width: 100%;
    flex-grow: 1;
}

.bg-grey {
    background: floralwhite;
}


.container-scroller {
    overflow: hidden;
}

.scroll-container {
    position: relative;
}

.scroll-container.horizontally {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}

.scroll-container.vertically {
    overflow-y: hidden;
    height: 100%;
    max-height: 100%;
}