.header {
    grid-area: header;
    background-color: black;
  }
  .sprints {
    grid-area: sprint;
    background-color: white;
  }

  .sidebar {
    grid-area: sidebar;
    background-color: rgba(5, 102, 126, 0.767);
  }
  .footer {
    grid-area: footer;
    background-color: #02a2be6c;
  }
  
  .container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 20%;
    grid-template-rows: auto;
    grid-template-areas:
      "header header header header header header"
      "sidebar sprint sprint sprint sprint sprint"
      "sidebar sprint sprint sprint sprint sprint"
      "sidebar sprint sprint sprint sprint sprint"
      "sidebar sprint sprint sprint sprint sprint"
      "sidebar sprint sprint sprint sprint sprint"
      "sidebar sprint sprint sprint sprint sprint"
      "sidebar sprint sprint sprint sprint sprint"
      "sidebar sprint sprint sprint sprint sprint"
      "sidebar sprint sprint sprint sprint sprint"
      "footer footer footer footer footer footer";
  }