<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>UNCC Notes App - New Note</title>
        <!-- styles -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
        <h1>Welcome {{user.name}} !</h1>
        {% if project %}
            <form action ="{{url_for('update_project', project_id = project.id) }}" method="post">
        {% else %}
            <form action="new" method="post">
        {% endif%}
            <p><label>Title </label></p>
            <p><input type="text" name="title" value ="{% if project %}{{project.title}} {% endif %}"/></p>
            <p><label>Project </label></p>
            <p>

                <textarea name="noteText"  rows="6" cols="0" >
                    {% if project %}
                        {{project.text}}
                    {% else %}
                        Project description ...
                    {% endif %}
                </textarea>
            </p>
            <p>
                {% if Project %}
                    <input type="submit" value="Update Project"/>
                {% else%} 
                    <input type="submit" value="Add Project"/>
                {% endif %}
            </p>
        </form>
    </body>
</html>